@inject IHttpContextAccessor contxt;




@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Online Student Scholarship System</h1>
        </div>
        <div class="card-body">
            
            <h4 class="card-text">Unlock Your Potential With Scholarships.</h4>
            
        </div>
    </div>
    
</div>

<br />

<div class="text-center">   
<a ><img src="~/Images/scholarship.jpg" /></a>
</div>